

# --- Databases ENV --- #
SQL_ALCHEMY_POSTGRES_URL = postgresql+asyncpg://scott:tiger@hostname/dbname # Your link with PostgreSQL DB

# --- Weather ENV --- #
OPEN_WEATHER_URL = "https://api.open-meteo.com"
LATITUDE = 55.698538 # x coordinate
LONGITUDE = 37.359576 # y coordinate
TEMPERATURE_UNIT = "celsius" # celsius or fahrenheit
WIND_SPEED_UNIT = "ms" # km or mph, or kn
PRECIPITATION_UNIT = "millimeter" # or inch
TIMEZONE = "auto" # or other timezones (America, Europe, ...)
FORECAST_DAYS = 7 # weather forecast for the days ahead
PAST_DAYS = 0 # weather of the past days
TIME_FORMAT = "iso8601" # or unixtime
MODELS = ("best_match", ) # and other

# --- Other configuration ENV --- #
SURVEY_DELAY = 180 # integer seconds survey delay
